<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<table border="1">
    <tr>
        <td>ID</td>
        <td>标题</td>
        <td>描述</td>
        <td>创建时间</td>
        <td>过期时间</td>
        <td>完成情况</td>
    </tr>
    <tr th:each="toDoItem:${toDoItemPage.getRecords()}">
        <td th:text="${toDoItem.itemId}"></td>
        <td th:text="${toDoItem.itemTitle}"></td>
        <td th:text="${toDoItem.itemDescription}"></td>
        <td th:text="${#temporals.format(toDoItem.creationDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
        <td th:text="${#temporals.format(toDoItem.dueDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
        <td th:text="${toDoItem.completionFlag}"></td>
    </tr>
    <tr>
        <td th:text="'共' + ${toDoItemPage.getTotal()} + '页'"}></td>
    </tr>
</table>
</body>
</html>
